body{
    font-size: 16px;
}

header {
    height: 2em;
}

.home{
    width: 61.8%;
    margin: 0 auto;
    margin-top: 5rem;
}

.footer{
    width: 61.8%;
    height: 2rem;
    margin: auto;
    margin-bottom: 0rem;
}